@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent:#CC9933;
  --color-forum-blue: #185886;
  --color-forum-dark-blue: #0a3350;
}

@layer base {

  h2 {
    @apply font-semibold text-2xl;
  }

  h3 {
    @apply font-medium text-xl;
  }

  h4 {
    @apply font-medium text-lg;
  }

  input[type="checkbox"], input[type="radio"] {
    transform: scale(1.2);
    margin-right: .5rem;
  }

  label {
    @apply cursor-pointer;
  }

  .overflow-y-auto {
    overflow-y: auto;
    @apply scrollbar;
  }

  .scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background: #AAA;
    border-radius: 3px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}

@layer components {
  .btn, .btn-small {
    @apply px-3 py-2 rounded-md inline-block whitespace-nowrap disabled:opacity-50 disabled:cursor-auto;
  }

  .btn-small {
    @apply py-1;
  }

  .btn-primary {
    @apply bg-forum-blue text-white;
  }

  .btn.border:not(.success):not(.error), .btn-small.border:not(.success):not(.error) {
    @apply border-gray-300 hover:border-gray-400;
  }

  .btn.success, .btn-small.success {
    @apply border border-green-300 hover:border-green-400;
  }

  .btn.error, .btn-small.error {
    @apply border border-red-300 hover:border-red-400;
  }

  .form-control {
    @apply border border-gray-400 p-2 rounded-md max-w-full appearance-none bg-transparent;
  }

  .form-control[invalid="true"] {
    @apply border-red-300;
  }

  .menu-item {
    @apply flex items-center space-x-2 cursor-pointer disabled:cursor-auto disabled:pointer-events-none disabled:opacity-50;
  }

  .menu-item.disabled {
    @apply cursor-auto pointer-events-none opacity-50;
  }

  .img-container img {
    max-height: 300px;
    padding: 1rem;
  }
}

@layer utilities {

  .container {
    @apply w-11/12 max-w-lg mx-auto;
  }

  .tap-transparent {
    -webkit-tap-highlight-color: transparent;
  }

  .max-w-xxs {
    max-width: 16rem;
  }

  .link {
    @apply text-blue-700 underline;
  }
  
  .message .mention-span {
    @apply text-blue-400 bg-gray-400 bg-opacity-20 rounded px-0.5 mx-0.5;
  }

  .message .mention-span-me {
    @apply bg-gray-800 text-blue-200 dark:bg-gray-300 dark:text-blue-900 bg-opacity-80 rounded px-0.5 mx-0.5;
  }

  .word-break {
    word-break: break-word;
  }

  .-bottom-1px {
    bottom: -1px
  }

  .-bottom-2px {
    bottom: -2px
  }

  .bg-gray-150 {
    background-color: #ececec
  }

  .touch-action-none {
    touch-action: none;
  }

  .link {
    @apply text-blue-500 no-underline hover:underline hover:text-blue-600;
  }

  .line-clamp-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .line-clamp-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }


}